/*
    @font-face permite agregar una tipografía a nuestra web desde un archivo válido de tipografía
        - woff, woff2 o ttf (formatos optimizados para web)
        - Agregamos descriptores
            - Cómo se llama? (font-family)
            - Dónde se encuentra? (src)
            - Qué hacer si la fuente no está disponible? (font-display)
            - Qué estilos tiene la fuente? (font-style)
*/
@font-face {
    font-family: "Space Grotesk";
    src: url("../assets/fonts/SpaceGrotesk.ttf");
    font-display: swap;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}

main,
footer {
    padding: 8px 16px;
}

h1,
h2,
h3 {
    margin-bottom: 8px;
    padding: 8px;
}

ul,
ol {
    margin: 8px 0;
    padding-left: 24px;
}

h2,
h3,
h4,
p {
    margin-bottom: 16px;
}