@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main,
footer {
    padding: 8px 16px;
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin-bottom: 8px;
    padding: 8px;
}

ul,
ol {
    margin: 8px 0;
    padding-left: 24px;
}

h2,
h3,
h4,
p {
    margin-bottom: 16px;
}