/*
    Header
*/
header {
    height: 150px;
    background-image: url("https://cdn.pixabay.com/photo/2024/06/11/13/57/code-8823282_960_720.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 25%;

    .bg {
        width: 100%;
        height: 100%;
        /* background-color: rgba(0, 0, 0, 0.5); */
        /* background-color: #00000080; */
        background-color: hsla(0, 0%, 0%, 0.502);
        /* background-color: hsl(hue, saturation, lightness); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;

        h1 {
            text-align: center;
            color: whitesmoke;
            /* color: var(--bg-mobile); */
            padding: 0;
        }
    }
}

/*
    Representa el bloque de código dentro de la Etiqueta HTML main (habitación con la puerta cerrada)
*/
main {
    --bg-mobile: cadetblue;
    --bg-tablet: lightcoral;
    --bg-desktop: cornflowerblue;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &>section {
        padding: 16px;
        background-color: var(--bg-mobile);
    }

    @media (min-width: 900px) {
        flex-direction: row;

        &>section {
            border-radius: var(--border-radius);
            background-color: var(--bg-tablet);
        }
    }

    @media (min-width: 1200px) {
        &>section {
            background-color: var(--bg-desktop);
        }
    }
}

/*
    Ejemplo tradicional de uso de breakpoint (Mobile First)
*/
.contenedor-mobile {
    /*
        Todos los estilos para Mobile
    */
}

@media (min-width: 900px) {
    .contenedor-mobile {
        /*
            Modificamos las propiedades para Tablets
        */
    }
}

@media (min-width: 1200px) {
    .contenedor-mobile {
        /*
            Modificamos las propiedades para Desktop
        */
    }
}

pre,
code {
    width: 100%;
    background-color: var(--color-surface);
    padding: 2px;
    border-radius: 4px;
}

pre {
    border-radius: 8px;
    padding: 8px 16px;
    margin: 8px 0;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}