.porcentaje,
.dvw {
    height: 150px;
    background-color: blue;
    margin-bottom: 16px;
    color: white;
}

.porcentaje {
    width: 50%;
    /*50% del ancho del elemento contenedor*/
}

.dvw {
    width: 50dvw;
    /*50% del ancho del navegador*/
}

.fixed-width {
    width: 500px;
    border: 1px solid black;
}

.contenedor-dvw {
    /* width: 90dvw;
    min-width: 450px;
    max-width: 900px; */
    width: clamp(450px, 90dvw, 900px);
}

.font-container {
    font-size: 18px;

    .em {
        font-size: 1.5em;
        /*
            Al momento de hacer la cuenta -> font-size: 18px;

            font-size * 1.5 = x
            18px * 1.5 = 27px
        */
    }

    .rem {
        font-size: 1.5rem;

        /*
            Al momento de hacer la cuenta -> font-size = tamaño de tipografía del navegador (16px)

            font-size * 1.5 = x
            16px * 1.5 = 24px
        */
    }
}