/*
    BEM 
        -> Block: .btn
        -> Element: .btn__text
        -> Variant: .btn--blue | .btn--red
*/

.btn {
  padding: 8px;
  border-radius: 16px;
  background-color: green;
  color: white;
  margin: 8px;

  /*
        El anidado de Sass, "agrega texto al nombre del Block"

        .btn__text -> "Sass crea el nombre del Element"
    */
  &__text {
    font-size: 1.2rem;
  }

  /*
    .btn--blue
  */
  &--blue {
    background-color: blue;
    color: aliceblue;
  }

  &--red {
    /*
          Aplica todos los estilos de .btn a .btn--blue
              -> .btn--blue hereda los estilos de .btn
      */
    @extend .btn;
    background-color: red;
  }
}
