.grid {
    width: clamp(250px, 50dvw, 750px);
    height: clamp(350px, 50dvh, 950px);
    border: 1px solid black;
    margin: 16px auto;

    display: grid;

    .contenido {
        width: 50px;
        height: 50px;
        background-color: blue;
        color: aliceblue;
    }
}

.row-col {
    grid-template-columns: 150px 20% 10dvw;
    grid-template-rows: 150px 20% 10dvh;

    /*
        Posicionar la grilla (sólo es válido si la grilla NO ocupa todo el contenedor)
    */
    justify-content: center;
    /*justify -> horizontal*/
    align-content: center;
    /*align -> vertical*/

    /*
        Posicionar los elementos dentro de la grilla
    */
    justify-items: center;
    align-items: center;
}

.row-col-full {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);

    justify-items: center;
    align-items: center;
}

.grid-area {
    grid-template-areas: "sidebar header header"
        "sidebar breadcrumb breadcrumb"
        "sidebar body body";

    div {
        width: 100% !important;
        height: 100% !important;
        color: black !important;
    }

    /*
        .grid-area .elemento-en-header
    */
    .elemento-en-header {
        grid-area: header;
        background-color: aquamarine;
    }

    .elemento-en-breadcrumb {
        grid-area: breadcrumb;
        background-color: blueviolet;
    }

    .elemento-en-sidebar {
        grid-area: sidebar;
        background-color: cadetblue;
    }

    .elemento-en-body {
        grid-area: body;
        background-color: bisque;
    }
}