.container-exact {
    width: 250px;
    height: 150px;
    border: 1px solid black;
    margin: 36px auto;
}

.recortar {
    /* overflow: visible hidden; */
    /* horizontal: hidden - vertical: hidden */
    overflow-y: hidden;
}

.scroll {
    overflow-y: auto;

    /*
        Agregado al standard oficial en 2024

        Firefox siempre ocultó con scrollbar-width
    */
    scrollbar-width: none;

    /*
        Chrome, Safari y Edge

        .scroll::-webkit-scrollbar
    */
    &::-webkit-scrollbar {
        display: none;
    }

}