:root {
    --color-text: #333;
    --color-text-light: #ddd;
}

.static,
.relative,
.absolute-no-reference,
.fixed {
    width: 150px;
    height: 150px;
}

.static {
    background-color: lightgray;
    color: var(--color-text);
    border: 2px dashed gray;
}

.relative {
    background-color: blue;
    color: var(--color-text-light);
    position: relative;
    top: 8px;
    left: 20px;
}

.relative-2 {
    position: relative;

    width: 95dvw !important;
    max-width: 550px;
    height: 35dvh !important;
    max-height: 500px;
    border: 1px solid black;

    overflow: hidden;

    .absolute {
        background-color: chocolate;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 3;
    }

    .absolute-2 {
        background-color: rgb(108, 210, 30);
        z-index: 2;
        bottom: 16px;
        right: 16px;
    }

    .absolute-3 {
        background-color: rgb(210, 30, 183);
        width: 250px;
        height: 250px;
        border-radius: 100%;

        position: absolute;
        bottom: -32px;
        right: -48px;
        z-index: 1;
    }
}

.absolute-no-reference {
    position: absolute;
    background-color: crimson;
    color: var(--color-text-light);
    top: 0;
    right: 0;
}

.fixed {
    background-color: blueviolet;
    color: var(--color-text-light);
    position: fixed;
    bottom: 0;
    right: 0;
}

/* article:has(.sticky) {
    height: 10000px;
    border: 1px solid black;
} */

.sticky {
    background-color: blue;
    color: var(--color-text-light);
    position: sticky;
    top: 0;
}

/* footer {
    height: 10000px;
} */

nav {
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;


    /*
        El nav no nos sigue porque "se corta la pista"
    */
    position: sticky;
    top: 70px;
    left: 0;

    a {
        color: var(--color-text-light);
        padding: 4px;
    }
}

.flex-layout {
    border: 2px solid #333;
    background: #fafafa;
    margin: 16px 0;
    padding: 16px;

    display: flex;
    gap: 16px;

    .sticky-sidebar {
        min-width: 130px;
        color: white;
        background-color: #34495e;
        font-size: 0.8rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        text-align: center;
        border-radius: 4px;
        padding: 8px;

        align-self: flex-start;

        position: sticky;
        top: 40px;

        strong {
            display: block;
            margin-bottom: 4px;
            font-size: 1.1rem;
        }

        small {
            opacity: 0.8;
        }
    }

    .flex-content {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
            margin: 0;
            padding: 12px;
            background: white;
            border: +8px;
            border: 1px solid #e0e0e0;
            line-height: 1.5;
        }
    }
}

/*
    Ejemplo Position + Pseudo-Clases
*/
.icon-container {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: fit-content;

    .icon {
        background: white;
        border-radius: 24px;
        font-size: 3rem;
        z-index: 99999;
        position: relative;
    }

    .chat {
        display: none;

        width: 250px;
        height: 250px;
        /* background-color: #333333;
        border-radius: 50px; */

        position: absolute;
        z-index: 10;
        right: 8px;
        bottom: -16px;

        .chat-box {
            height: 90%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            --background-color: whitesmoke;
            --border-radius: 8px;

            .messages {
                height: 100%;
                padding: 8px;
                background-color: var(--background-color);
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);

                display: flex;
                flex-direction: column;
                gap: 4px;

                overflow-y: auto;

                &:nth-child(odd) {
                    align-items: flex-end;
                }

                p {
                    background-color: lightgray;
                    border-radius: 8px;
                    padding: 8px;
                }
            }

            .input {
                padding: 16px;
                background-color: var(--background-color);
                border-bottom-left-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);

                label {
                    display: none;
                }

                input {
                    width: 85%;
                }
            }

        }
    }

    &:hover .chat,
    .chat:has(input:focus) {
        display: block;
    }
}