@use "../utils/functions" as function;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  /*
        font-size: 28px;
        28 / 16 => 1.75


        Desarrollo Fluido ("responsivo que acompaña el cambio de tamaño de la ventana del navegador")
            - Mínimo de 1.75rem (28px)
            - Fluir entre 1rem + 2vw (2% del ancho del ancho de la ventana)
            - Máximo de 2.5rem (40px)
    */
  font-size: clamp(function.rem(28), function.rem(16) + 2vw, function.rem(40));
}

h2 {
  /*
        font-size: 24px;
        24 / 16 => 1.5

        - Mínimo de 1.5rem (24px)
        - Fluir entre 1rem + 1.5vw (1.5% del ancho del ancho de la ventana)
        - Máximo de 2.25rem (36px)
    */
  font-size: clamp(
    function.rem(24),
    function.rem(16) + 1.5vw,
    function.rem(36)
  );
}

p {
  margin-top: 0;
  /*
        font-size: 16px
        16 / 16 => 1
    */
  font-size: function.rem(16);
}
